nav ul a {
  text-align: left;
  font-family: arial;
  font-size: 18px;
  color: white;
  padding-top: 0px;
  padding-left: 5px;
}

ul a {
  text-decoration: none;
  list-style-type: none;
  font-family: arial;
  font-size: 24px;
  line-height: 30pt;
  color: black;
}
 ul {
  list-style-type: none;
 }

.film-titles {
  text-align: center;
  padding-top: 10px;
}

body {
  background-image: url("./inside-a-cinema.jpg");
  background-size: 100%;
}

p {
  color: black;
  text-align: center;
  padding-top: 140px;
}

h2{
  font-family: arial;
  text-align: center;
  color: white;
}
